<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet">
    <title>Homepage</title>
</head>
<body>
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="#">Team 1</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item active">
                      <a class="nav-link" href="#">About<span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav-link" href="leaderboard">Leaderboard</a>
                    </li>
                  </ul>
                </div>
        </nav>
        <div class="jumbotron jumbotron-fluid">
                <div class="container">
                  <h1 class="display-4">Team 1</h1>
                  <p class="lead"><em>The best preparation for tomorrow is doing your best TODAY</em></p>
                </div>
              </div>
        <div class="container">
            <div class="card" style="width: 80rem;">
                <div class="card-body text-center">
                    <h5 class="card-title">About</h5>
                    <p class="card-text">Over the last few years, Team 1 has consistently transformed the way that people live, work, play, and connect through great technology. We are inspired by the genuine belief that we can change the world for the better.</p>
                </div>
            </div>
        </div>
</body>
</html>