<html>
<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet">
    <title>Homepage</title>
</head>
    <body>
        {% include 'navbar.html' %}
        <div class="jumbotron jumbotron-fluid">
                <div class="container">
                  <h1 class="display-4">Team 1</h1>
                  <p class="lead"><em>The best preparation for tomorrow is doing your best TODAY</em></p>
                </div>
              </div>
        <div class="container">
            <div class="card" style="width: 80rem;">
                <div class="card-body text-center">
                    <h5 class="card-title">About</h5>
                    <p class="card-text">Over the last few years, Team 1 has consistently transformed the way that people live, work, play, and connect through great technology. We are inspired by the genuine belief that we can change the world for the better.</p>
                </div>
            </div>
        </div>
    </body>
</html>