<html>
    <head>
        <title>Leaderboard</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet">
    </head>
    {% include 'navbar.html' %}
    <body>
        <div id="main">
        {% for lb in leaderboards %}
            <div class="leaderboard">
            <span style="position: relative; top: -80px; font-size: 150px;">&#x1F3C6;</span>
                <h1 style="margin-top: -50px">{{lb[0]}}</h1>
                    <div class="results">
                        {% for player in lb[1] %}
                            <div class="row">
                                <div style="margin: 0; padding: 10; float:left;">{{player[1]}}</div>
                                <div>{{player[0].name}}</div>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </body>
</html>

